extends ./layout/common

block content2
    h1.mb-5.text-center Movie

    .row
        each val, index in movies
            .col-md-3
                .card
                    a(href="/movie/" + val.id)
                        img.card-img-top.mb-3(src="/image/poster/" + val.poster_image, height="375px")